{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Us</h1>
          <span class="subheading">Plan your next adventure with ease using our simple and reliable platform.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
        ◆ Discover the world with ease through our website! We are dedicated to making your travel dreams come true by offering a hassle-free platform to explore and book incredible tours.
        </p>
        <p>
        ◆ Whether you're planning a weekend getaway, a family vacation, or an adventurous solo trip, we’ve got you covered. Our website features a variety of tour packages, each thoughtfully designed to showcase the best of every destination. From picturesque landscapes to cultural landmarks, you’ll find options that cater to every interest and budget.
        </p>
        <p>
        ◆ With real-time availability, secure bookings, and detailed itineraries, we ensure a smooth and transparent experience. Plus, our team is always here to support you with personalized recommendations and assistance.
        </p>
        <p>
        ◆ Let us help you turn your travel ideas into reality—start exploring, customizing, and booking your perfect tour today!
        </p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
